.footer {
  display: flex;
  justify-content: center;
  margin: 25px 0;
  font-size: 2rem;

  &__link {
    margin: 0 10px;

    &:hover {
      color: $main-text;
    }
  }

  @include device-is('desktop') {
    margin: 50px 0;
  }
}

.footer-link__text {
  display: none;
}
