.header {
  background: $navbar;
  color: #ffffff;
  padding: 16px;
  margin-bottom: 30px;

  a {
    color: #ffffff ;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  @include device-is('tablet') {
    margin-bottom: 50px;
  }
}
