.post-cards {

  &__categories {
    margin: 100px 0 50px 0;

    @include device-is('tablet') {
      margin: 100px 15px 50px 15px;
    }
  }

  &__main {
    a {
      text-decoration: none;

      &:hover, &:focus {
        background-color: #f4f5f7;
      }
    }

    @include device-is('tablet') {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include device-is('desktop') {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}

.post-cards-categories {

  &__category {
    margin: 5px 5px;
    text-transform: lowercase;
    background-color: transparent;
    border: 1px solid $label;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;

    &--selected {
      background-color: $selected-label;
      color: white;

      span {
        padding-right: 10px;;
      }
    }

    &--not-selected {

    }
  }
}
