.post-card {

  height: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #eaeff1;
  font-size: 0.85rem;
  color: $main-text;
  text-decoration: none;

  &__header {
    margin-top: 15px;
  }

  &__category {
    text-transform: capitalize;
    color: $post-category;
    margin-bottom: 2px;
  }

  &__title {
    font-weight: 600;
    margin: 0 0 5px 0;
  }

  &__excerpt {
    margin-bottom: 10px;
  }

  &__date {
    @extend %date;
  }


  @include device-is('tablet') {
    padding: 30px 20px;
  }

  @include device-is('desktop') {
    font-size: 1rem;
  }
}
