code.language-text[class*="language-"] {
  color: #292929FF;
  background-color: #F2F2F2FF;
  font-size: 0.85rem;
}

blockquote, blockquote *:last-child {
  font-style: italic;
  margin: 30px 0;
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 1.1rem;
}
