$cutty-sark: #5B7A81;
$shark: #24292E;


/** MAIN ELEMENTS **/
$navbar: $shark;
$main-text: $shark;

/** POSTS **/
$post-category: #4C6ED1;
$date: $cutty-sark;

/** LABELS **/
$label: $cutty-sark;
$selected-label: $shark;
